.wbg {
	background:#FFF
}

@mixin border($radius, $color, $width) {
  	-webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    border:$width solid $color;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

.cf {
  clear:both;
}

.mb5  {margin-bottom:5px}
.mb10 {margin-bottom:10px}
.mb15 {margin-bottom:15px}
.mb20 {margin-bottom:20px}
.mb25 {margin-bottom:25px}
.mb30 {margin-bottom:30px}
.mb100 {margin-bottom: 100px}

.mt5  {margin-top:5px}
.mt10 {margin-top:10px}
.mt15 {margin-top:15px}
.mt20 {margin-top:20px}
.mt25 {margin-top:25px}
.mt30 {margin-top:30px}

.ml5  {margin-left:5px}
.ml10 {margin-left:10px}
.ml15 {margin-left:15px}
.ml20 {margin-left:20px}
.ml25 {margin-left:25px}
.ml30 {margin-left:30px}

.mr5  {margin-right:5px}
.mrl0 {margin-right:10px}
.mr15 {margin-right:15px}
.mr20 {margin-right:20px}
.mr25 {margin-right:25px}
.mr30 {margin-right:30px}

.pb5  {padding-bottom:5px}
.pb10 {padding-bottom:10px}
.pb15 {padding-bottom:15px}
.pb20 {padding-bottom:20px}
.pb25 {padding-bottom:25px}
.pb30 {padding-bottom:30px}

.pt5  {padding-top:5px}
.pt10 {padding-top:10px}
.pt15 {padding-top:15px}
.pt20 {padding-top:20px}
.pt25 {padding-top:25px}
.pt30 {padding-top:30px}

.pl5  {padding-left:5px}
.pl10 {padding-left:10px}
.pl15 {padding-left:15px}
.pl20 {padding-left:20px}
.pl25 {padding-left:25px}
.pl30 {padding-left:30px}

.pr5  {padding-right:5px}
.pr10 {padding-right:10px}
.pr15 {padding-right:15px}
.pr20 {padding-right:20px}
.pr25 {padding-right:25px}
.pr30 {padding-right:30px}

.text-center {
  text-align: center;
}

.block {
  display:block;
}

.illustration {
	border-radius:51px;
	background:#585368;
	width:102px;
	height:102px;
	display:block;
	margin:0 auto;
	margin-top:70px;

  &.small-illus {
    width:40px;
    height:40px;
    background: #E4E3E7;

    &.main-illus {
      width:50px;
      height:50px;
      background: #585368
    }
  }

	& + h2 {
		text-align: center;
		font-weight:500;
		font-size:19px;
		line-height: 40px;
		-webkit-animation-duration: 1s;
  		-webkit-animation-delay: 0.5s;

		& + p {
			text-align: center;
			font-size:17px;
			line-height: 1.55;
			color:#6f6f81;
			padding:0 40px;
			margin-bottom:70px;
			-webkit-animation-duration: 1s;
  			-webkit-animation-delay: 0.5s;
		}
	}
}

.form-table-wrapper, .url-rules {
}

.formandurl {
  border-bottom: 1px solid #CFCFCF;
}

.relative {
  position: relative;
}

.add-another-rule {
  transition:all 0.25s ease-in-out;
}

.form-table,
.url-rules,
.manual-form {
  @include border(4px, #CFCFCF, 1px);

	h2 {
		font-size:18px;
		text-align: left;
		line-height:60px;
    a {
      float:right;
    }
	}


  button {
    position:absolute;
    right:5px;
    bottom:5px;
  }
}

input {
  &[readonly] {
    & + button {
      background:transparent!important;
      color:#878999!important;
      text-decoration: underline;
    }
  }
}

.form-table {
  .tr.form-input {

    .form-input-wrap {
      opacity:0;
      transition: all 0.2s ease-in-out;
      overflow: visible;
    }

    .form-input-show.td {
      height: 140px;

      .form-input-wrap {
        opacity: 1;
      }

    }
    input {
      bottom: 1px;
      position: absolute;
      left: 1px;
      right: 1px;
      width: 99.7%;

      & + button {
        top: 5px;
      }
    }
  }
}

.form-input-wrap {
  position: absolute;
  bottom: 78px;
  left: 120px;
  right: 70px;
  overflow: hidden;
  padding: 0;
  height: 54px;
}

.url-rules {
	 .fakeBox {
    vertical-align: bottom;
  }
}

.title-row {
	border-bottom:1px solid #CFCFCF;
}

.form-table {

	.table-head {
		background:#ebebeb;

		.td {
			border-right:1px solid #CFCFCF;
			border-bottom:1px solid #CFCFCF;

			&:last-child {
				border-right:none;
			}
		}
	}

	.tr {
		.td {
			height:71px;
			border-bottom: 1px solid #CFCFCF;
			line-height: 70px;

			&.id-cell {
				font-weight:500;
			}
		}

		&:last-child {
			.td {
				border-bottom:none;
			}
		}
	}
}

.table-actual {
	display:table;
	width:100%;
	line-height: 51px;
}

.table-head {
	display:table-header-group;
}

.thead {
	display:table-cell;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
	padding-left:15px;
	padding-right:15px;
}

fieldset, form {
	width:100%;
}


input[type="text"] {
	font-family: 'franklin-gothic-urw';
	font-weight:400;
	line-height: 48px;
	font-size:18px;
	width:100%;
	box-shadow:0 0 0 1px white;
	@include border(4px, #cfcfcf, 1px);
	@include transition(all 0.25s ease-in-out);

	&:focus {
    outline:none;
		box-shadow:0 0 0 1px #00aeef;
		border-color:#00aeef;
	}

  &.inactive, &[readonly] {
    background:#F2F2F2;
    box-shadow:0 0 0 1px white;
    @include border(4px, #cfcfcf, 1px);
  }

  &.error {
    box-shadow:0 0 0 1px red;
    @include border(4px, red, 1px);
  }
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label .fakeBox {
    display:inline-block;
    width:22px;
    height:22px;
    margin:0;
    background:#fff;
    cursor:pointer;
    position: relative;
    vertical-align: middle;
    transition:0.75s ease-in-out;
    @include border(50%, #747080, 2px );

    &:disabled {

    }

    &:after {
   		content:'';
   		position:absolute;
   		left:7px;
   		right:7px;
   		top:7px;
   		bottom:7px;
   		background:#FFF;
   		@include border(50%,none,none);
   		transition:0.25s ease-in-out;
   	}
    
}

input[type="radio"]:checked + label .fakeBox {
   	@include border(50%, #00aeef, 2px );

   	&:after {
   		content:'';
   		position:absolute;
   		left:2px;
   		right:2px;
   		top:2px;
   		bottom:2px;
   		background:#747080;
   		@include border(50%,none,none);
   	}
}

input[value="custom-rules"] + label + div {
  display:none;
}

input[value="custom-rules"]:checked + label + div {
  display:block;
}


.loading-text {
  position:absolute;
  left:0;
  right:0;
  top:360px;
  text-align: center;
  color: #8B8A96;
  font-style: italic;
}

.spinner-wrap {
	left:0;
	right:0;
	width:100%;
}

.spinner {
  margin: 0px auto;
	width: 60px;
	height: 60px;
  position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 10px;
  height: 10px;
  background-color:#00aeef;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}